.loading-message {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loader {
    position: relative;
    z-index: 1;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff40;
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
